/*  ///////////////////////////////////////////////////////
/////////////////////////////////////////////////////
////////////////////////////////////////////////////
///////////////////////////////////////////////// /////////////////
///////////////////////////////////////////////////////////
////////.            SCREEN 350.           ////////////////////////
////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
////////////////////////////////////////////
//////////////////////////////////////////////////
////////////////////////////////////////////////////
///////////////////////////////////////////////////////*/
/*@media screen and (max-width:350px){ 
.head{
    display:none;
    background : black;
    color : white;
}
.left{
 display:none;
 background-color:gold;
float:left;
width:35%;
    }
 
.right{
width:73;
float:left;
    }
 
#firstNav{
 
}
.footer{
    background-color:black;
    color:white;
    width:100%;
    clear:both;
    }
}












