

/*  ///////////////////////////////////////////////////////
/////////////////////////////////////////////////////
////////////////////////////////////////////////////
///////////////////////////////////////////////// /////////////////
///////////////////////////////////////////////////////////
////////.            SCREEN 760up.           ////////////////////////
////////////////////////////////////////////////////
///////////////////////////////////////////////////////////
////////////////////////////////////////////
//////////////////////////////////////////////////
////////////////////////////////////////////////////
///////////////////////////////////////////////////////*/
@media screen and (min-width:760){
.head{
    background : black;
    color : white;
}
.left{
  display:none;
 background-color:gold;
float:left;
width:35%;
    }
 
.right{
width:73%;
float:left;
    }
.firstNav{
 color:black;
 text-decoration:none;
}
.footer{
    background-color:black;
    color:white;
    width:100%;
    clear:both;
    }
}

















